@{
    Session["urlHttp"] = HttpContext.Current.Request.Url.AbsoluteUri.Split('/')[0] + "//" + HttpContext.Current.Request.Url.AbsoluteUri.Split('/')[2];
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="site-blocks-vs inner-page-cover" style="background-image: url(/Content/images/hero_bg_3.jpg)" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-sm-8" data-aos="fade-up" data-aos-delay="400">
                <br /><br />
                <h1 class="text-white font-weigh text-uppercase">Resúmen de la Oferta</h1>
                <br /><br />
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="card shadow-lg mb-5 mt-5 bg-white rounded p-3">
        <div class="card-title row mt-3 text-center bg-white">
            <h5><strong>Código de Oferta:</strong> @ViewBag.models[0]["codeOffer"]</h5>
        </div>
        <div class="card-body bg-ligth-bidcargo">

            @foreach (var modelo in ViewBag.models)
            {

                <div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h6><strong>Trayecto Solicitado:</strong></h6>
                            <label>@modelo["fromCity"] - @modelo["fromDepartament"] <strong>hacia</strong> @modelo["toCity"] - @modelo["toDepartament"]</label>
                        </div>
                        <div class="col-sm-6">
                            <h6><strong>Dirección Remitente:</strong> </h6><label>@modelo["directionFrom"]</label>
                        </div>
                        <div class="col-sm-6">
                            <h6><strong>Dirección Destinatario:</strong> </h6><label>@modelo["directionTo"]</label>
                        </div>
                        <div class="col-sm-4">
                            <h6><strong>Transportar:</strong></h6> <label>@modelo["typeContainer"], @modelo["typeMerchandise"] en @modelo["typeCargoString"]</label>
                        </div>

                        @if (Convert.ToInt32(modelo["typeCargo"]) == 4 || Convert.ToInt32(modelo["typeCargo"]) == 1 || Convert.ToInt32(modelo["typeCargo"]) == 2 || Convert.ToInt32(modelo["typeCargo"]) == 5)
                        {
                            <div class="col-sm-4">
                                <h6><strong>Peso:</strong></h6> <label>@modelo["weightContainer"] <strong>@modelo["typeMeasuredString"]</strong></label>
                            </div>
                        }

                        @if (Convert.ToInt32(modelo["typeCargo"]) == 3 || Convert.ToInt32(modelo["typeCargo"]) == 6 || Convert.ToInt32(modelo["typeCargo"]) == 7)
                        {
                            <div class="col-sm-4">
                                <h6><strong>Peso:</strong></h6> <label>@modelo["numberUnitsTons"] &nbsp; Toneladas</label>
                            </div>
                        }


                        @if (Convert.ToInt32(modelo["typeCargo"]) == 2 || Convert.ToInt32(modelo["typeCargo"]) == 4)
                        {

                            <div class="col-sm-4">
                                <h6><strong>Medidas:</strong></h6><strong> <strong>Largo: </strong>@modelo["longTied"], <strong>Ancho: </strong>@modelo["widthPlates"], <strong>Alto: </strong>@modelo["highLoose"] en <strong>@modelo["typeDimensionString"]</strong></strong>
                            </div>
                            <div class="col-sm-4">
                                <h6><strong>Número Unidades:</strong></h6><label> @modelo["numberUnitsTons"]</label>
                            </div>
                        }

                        @*@if (Convert.ToInt32(modelo["typeCargo"]) >= 3)
                        {
                            <div class="col-sm-4">
                                <h6><strong>Presentación:</strong> </h6><strong><strong>Atado: </strong>@modelo["longTied"], <strong>Planchas: </strong>@modelo["widthPlates"], <strong>Suelta: </strong>@modelo["highLoose"] en <strong>@modelo["typeDimensionString"]</strong></strong>
                            </div>
                        }*@
                        @*<div class="col-sm-4">
                            <h6><strong>Valor Declarado Mercancía:</strong></h6><label> @String.Format("{0:C0}", Convert.ToInt32(modelo["valueMerchandise"]))</label>
                        </div>*@
                        <div class="col-sm-4">
                            <h6><strong>Tipo Moneda:</strong></h6><label> @modelo["CoinTypeText"]</label>
                        </div>
                        @*@if (modelo["valorOferta"] != null)
                        {
                            <div class="col-sm-4">
                                <h6><strong>Valor Oferta:</strong></h6><label> @String.Format("{0:C0}", modelo["valorOferta"])</label>
                            </div>
                        }*@
                        <div class="col-sm-4">
                            <h6><strong>Fecha de Viaje:</strong></h6><label> @modelo["departure"]  - <strong> @modelo["DateOfServiceIText"] </strong></label>
                        </div>
                        <div class="col-sm-4">
                            <h6><strong>Fecha estimada de arribo:</strong></h6><label> @modelo["arrival"]</label>
                        </div>
                        @*<div class="col-sm-4">
                            <h6><strong>Empresa Cliente:</strong></h6><label> @modelo["companyClient"]</label>
                        </div>*@
                        <div class="col-sm-4">
                            <h6><strong>Factoring:</strong></h6><label> @modelo["FactoringString"]</label>
                        </div>
                        <div class="col-sm-4">
                            <h6><strong>Días de Pago:</strong></h6><label> @modelo["payDays"]</label>
                        </div>
                        <div class="col-sm-4">
                            <h6><strong>Estado:</strong></h6><label> @modelo["statusString"]</label>
                        </div>

                        <div class="col-sm-4">
                            <h6><strong>Observación:</strong></h6><label> @modelo["observation"]</label>
                        </div>
                        <div class="col-sm-4">
                            <h6><strong>Documento cargado:</strong></h6>
                            @if (ViewBag.myDocumentsOfferServiceCarga != null)
                            {

                                foreach (var rows in ViewBag.myDocumentsOfferServiceCarga)
                                {
                                    String nameFile = @rows["srcFile"];
                                    string correctString = nameFile.Replace("/Content/uploads/", " ");

                                    <a href="@rows["srcFile"]" class="btn btn-block btn-outline-dark" target="_blank"><i class="icon-download"></i>@correctString</a>

                                }
                            }
                            @*@if (ViewBag.myDocuments.Count > 0)
                            {
                                foreach (var rows in ViewBag.myDocuments)
                                {
                                    if (Convert.ToInt32(rows["idDocuments"]) == Convert.ToInt32(rows["idDocuments"]))
                                    {
                                        <a href="@rows["srcFile"]" class="btn btn-block btn-outline-dark" title="@rows["nameFile"]" target="_blank"><i class="icon-download"></i> @rows["nameFile"]</a>
                                    }
                                }
                            }*@
                        </div>
                    </div>
                </div>










            }
        </div>

        <div class="row p-3">
            <div class="col-sm-12 text-center">
                <a href="@Url.Action("TablaOfertas")" class="btn btn-sm btn-secondary"><i class="icon icon-backward"></i> Volver</a>
            </div>
        </div>

        <br />


    </div>

</div>




@section  scripts{
    @if (Session["message"] != null)
    {
        if (Session["message"].ToString() != "")
        {
            <script type="text/javascript">
                Swal.fire({
                    type: 'success',
                    title: '@Session["message"].ToString()',
                    showConfirmButton: true,
                    timer: 2500
                });
            </script>
        }
        Session.Remove("message");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $('.areamask').mask('#', { reverse: true });
            $("#contrasoff").attr("required", true);
            $.extend(jQuery.validator.messages, {
                required: "Este campo es obligatorio.",
                remote: "Por favor, rellena este campo.",
                email: "Por favor, escribe una dirección de correo válida",
                url: "Por favor, escribe una URL válida.",
                date: "Por favor, escribe una fecha válida.",
                dateISO: "Por favor, escribe una fecha (ISO) válida.",
                number: "Por favor, escribe un número entero válido.",
                digits: "Por favor, escribe sólo dígitos.",
                creditcard: "Por favor, escribe un número de tarjeta válido.",
                equalTo: "Por favor, escribe el mismo valor de nuevo.",
                accept: "Por favor, escribe un valor con una extensión aceptada.",
                maxlength: jQuery.validator.format("Por favor, no escribas más de {0} caracteres."),
                minlength: jQuery.validator.format("Por favor, no escribas menos de {0} caracteres."),
                rangelength: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
                range: jQuery.validator.format("Por favor, escribe un valor entre {0} y {1}."),
                max: jQuery.validator.format("Por favor, escribe un valor menor o igual a {0}."),
                min: jQuery.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
            });

            $("#formushowsibmit").validate({
                rules: {
                    contraOffer: {
                        required: true
                    }
                }
            });
        });
        $(".aaa").click(function () {
            var koa = $(this).data("idcontra");
            Swal.fire({
                title: "¿Esta Seguro?",
                html: "De Aceptar la contra oferta seleccionada?",
                type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                backdrop: false,
            }).then((result) => {
                if (result.value) {
                    $.get("/Home/acceptContraOffer", { id: koa }, function (data) {
                        Swal.fire({
                            type: 'success',
                            title: 'Contra oferta seleccionada con Exito!',
                            showConfirmButton: true
                        });
                        //paraa recargar la pagina por si sola
                        location.reload()
                    });
                }
            });
        });
    </script>
}