<div class="site-blocks-vs inner-page-cover" style="background-image: url(/Content/images/hero_bg_3.jpg)" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-md-8" data-aos="fade-up" data-aos-delay="400">
                <br /><br />
                <h1 class="text-white font-weight-light">INFORMACION NECESARIA</h1>
                <br /><br />
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card shadow-lg mb-5 bg-white rounded mt-5 text-center">


        <div class="col-md w-100 h-100">
            <div class="card-title row mt-3 text-center">
                <h1>Propietario Juridico</h1>
            </div>
            <hr />
            <div class="card-body bg-ligth-bidcargo">
                <div class="row">

                    <div class="col-sm">

                        <h5 class="mb-4">
                            <b> Razon social:</b> <small>@ViewBag.rows[0]["razonsocial"]</small>
                        </h5>

                        <h5 class="mb-4">
                            <b>Nit:</b> <small>@ViewBag.rows[0]["nit"]</small>
                        </h5>
                        <h5 class="mb-4">
                            <b>Direccion Empresarial:</b> <small>@ViewBag.rows[0]["direccion"]</small>
                        </h5>
                        <h5 class="mb-4">
                            <b>Nombre contacto :</b> <small>@ViewBag.rows[0]["nombrecontacto"]</small>
                        </h5>
                        <h5 class="mb-4">
                            <b>Apellido contacto :</b> <small>@ViewBag.rows[0]["apellidocontacto"]</small>
                        </h5>

                        <h5 class="mb-4">
                            <b>Telefono:</b> <small>@ViewBag.rows[0]["telefonofijo"]</small>
                        </h5>
                        <h5 class="mb-4">
                            <b>Telefono Movil:</b> <small>@ViewBag.rows[0]["telefonoMovil"]</small>
                        </h5>
                        <h5 class="mb-4">
                            <b> Correo:</b> <small>@ViewBag.rows[0]["correo"]</small>
                        </h5>

                        <h5 class="mb-4">
                            <b>Departamento de operacion:</b> <small>@ViewBag.rows[0]["departamentos"]</small>
                        </h5>

                        <h5 class="mb-4">
                            <b>Ciudad de operacion :</b> <small>@ViewBag.rows[0]["ciudad"]</small>
                        </h5>
                        <h5 class="mb-4">
                            <b>Usuario de acceso :</b> <small>@ViewBag.rows[0]["nombreUsuario"]</small>
                        </h5>
                        <h5 class="mb-4">
                            <b>Contraseña :</b> <small>@ViewBag.rows[0]["idEstadoCliente"]</small>
                        </h5>
                    </div>



                </div>

                <br />
                <div class="row">
                    <div class="col-sm">
                        <h5 class="mb-4">
                            <b>Bancarizacion:</b>
                            <a data-href="@Url.Action("DescargarArchivos", new { @ruta = @ViewBag.rows[0]["certificacionbancaria"]} )"
                               data-text="Desea Descargar Este Archivo" class="btn btn-success btn-sm text-white rounded actiusers">
                                <i class="fas fa-download"></i>
                            </a>
                        </h5>


                    </div>
                    <div class="col-sm">
                        <h5 class="mb-4">
                            <b>Camara comercio:</b>
                            <a data-href="@Url.Action("DescargarArchivos", new { @ruta = @ViewBag.rows[0]["camaracomercio"]} )"
                               data-text="Desea Descargar Este Archivo" class="btn btn-success btn-sm text-white rounded actiusers">
                                <i class="fas fa-download"></i>
                            </a>
                        </h5>

                    </div>
                    @*<div class="col-sm">
                        <h5 class="mb-4">
                            <b>Nit:</b>
                            <a data-href="@Url.Action("DescargarArchivos", new { @ruta = @ViewBag.rows[0]["nit"]} )"
                               data-text="Desea Descargar Este Archivo" class="btn btn-success btn-sm text-white rounded actiusers">
                                <i class="fas fa-download"></i>
                            </a>
                        </h5>

                    </div>*@
                    <div class="col-sm">
                        <h5 class="mb-4">
                            <b>CC Representante:</b>
                            <a data-href="@Url.Action("DescargarArchivos", new { @ruta = @ViewBag.rows[0]["cedularepresentante"]} )"
                               data-text="Desea Descargar Este Archivo" class="btn btn-success btn-sm text-white rounded actiusers">
                                <i class="fas fa-download"></i>
                            </a>
                        </h5>
                    </div>

                    <div class="col-sm">
                        <h5 class="mb-4">
                            <b>Rut:</b>
                            <a data-href="@Url.Action("DescargarArchivos", new { @ruta = @ViewBag.rows[0]["rut"]} )"
                               data-text="Desea Descargar Este Archivo" class="btn btn-success btn-sm text-white rounded actiusers">
                                <i class="fas fa-download"></i>
                            </a>
                        </h5>
                    </div>





                </div>
                <div class="col-sm-12">
                    <div class="col-md-12 text-center">
                        <a href="@Url.Action("TablePjuridicas")" class="btn btn-secondary btn-sm"><i class="icon icon-backward"></i> Volver</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



@section  scripts{
    @if (Session["message"] != null)
    {
        if (Session["message"].ToString() != "")
        {
            <script type="text/javascript">
                Swal.fire({
                    type: 'success',
                    title: "Mensaje",
                    html: '@Session["message"].ToString()',
                    showConfirmButton: true,
                });
            </script>
        }

        Session.Remove("message");
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $(".actiusers").click(function () {
                var texss = $(this).data("text")
                var href = $(this).data("href")
                Swal.fire({
                    title: "¿Esta Seguro?",
                    html: texss,
                    type: 'question',
                    showCancelButton: true,
                }).then((result) => {
                    if (result.value) {
                        location.replace(href)
                    }
                });
            });

            $(".tablesi").DataTable({
                "ordering": false,
                language: {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "No hay Actualmente una oferta disponible",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    },
                    "buttons": {
                        "copy": "Copiar",
                        "colvis": "Visibilidad"
                    },
                }
            });

            $("#btnExcelView").click(function () {
                //$.blockUI({ message: '<h3>Por favor, espere un momento...</h3>' });
                var typeId = $('#typeId').val();
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ExportExelVehiculo", "Home")',
                    contentType: "application/json; charset=utf-8",
                    data: { id: typeId},
                    dataType: "json",
                }).done(function (data) {
                    console.log(data.result);

                    if (data.fileName != "") {
                        window.location.href = "@Url.RouteUrl(new
                        { Controller = "Home", Action = "Download" })/?file=" + data.fileName;
                    }
                });
            });
        })


    function DownloadExcel() {
        //$.blockUI({ message: '<h3>Por favor, espere un momento...</h3>' });
        var typeId = $('#typeId').val();
        $.ajax({
            type: "POST",
            url: "/Home/ExportExelVehiculo",
            data: { id: typeId },
            cache: false,
            success: function (data) {
                window.location = '/Home/Download';
            },
            error: function (data) {
                Materialize.toast("Something went wrong. ", 3000, 'rounded');
            }
        });
    }
    </script>
}
